


@import url('https://fonts.googleapis.com/css?family=Montserrat');


html, body {


    overflow-x: hidden;
}

#prviDeo{
   
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.krug1{
    width: 30%;
    position: absolute;
    animation: 25s linear infinite krug1;
    transform: translate(0, 0);
}
@keyframes krug1 {
    0% {
        transform: translate(0, 0)
    }

    20% {
        transform: translate(400%, 0)
    }

    40% {
        transform: translate(-200%, 0)
    }

    60% {
        transform: translate(400%, 0)
    }

    80% {
        transform: translate(-200%, 0)
    }

    100% {
        transform: translate(400%, 0)
    }


}
.krug2{
    width: 28%;
    position: absolute;
    margin-top: 200px;
    animation: 30s linear infinite krug2;
    transform: translate(0, 0);
}
@keyframes krug2 {
    0% {
        transform: translate(0, 0)
    }

    20% {
        transform: translate(400%, 0)
    }

    40% {
        transform: translate(-200%, 0)
    }

    60% {
        transform: translate(400%, 0)
    }

    80% {
        transform: translate(-200%, 0)
    }

    100% {
        transform: translate(400%, 0)
    }


}
.krug3{
    width: 20%;
    position: absolute;
    margin-top: 200px;
    animation: 35s linear infinite krug3;
    transform: translate(0, 0);
}
@keyframes krug3 {
    0% {
        transform: translate(0, 0)
    }

    20% {
        transform: translate(500%, 0)
    }

    40% {
        transform: translate(-100%, 0)
    }

    60% {
        transform: translate(500%, 0)
    }

    80% {
        transform: translate(-100%, 0)
    }

    100% {
        transform: translate(500%, 0)
    }


}
.krug4{
    width: 10%;
    position: absolute;
    margin-top: 180px;
    animation: 23s linear infinite krug4;
    transform: translate(0, 0);
}
@keyframes krug4 {
    0% {
        transform: translate(0, 0)
    }

    20% {
        transform: translate(1000%, 0)
    }

    40% {
        transform: translate(-100%, 0)
    }

    60% {
        transform: translate(1000%, 0)
    }

    80% {
        transform: translate(-100%, 0)
    }

    100% {
        transform: translate(1000%, 0)
    }
}
.tekstOmeni{
    color: rgb(247, 120, 70);
    text-align: center;
    margin-top: 250px;
    z-index: 1;
    position: relative;
    font-family: 'Montserrat', sans-serif; 
    font-size: 200%;
}

.nav-link{
cursor: pointer;
color: rgb(200, 80, 0);
font-family: 'Montserrat', sans-serif; 

}


h3{
    position: relative;
    margin-top: 230px;
    top: 50px;
    text-align: center;
    font-family: inherit;
    color:rgba(255, 166, 0, 0.822);
   
}


#naslovP{
color: rgba(252, 120, 32, 0.925);
padding-top: 40px;
font-size: 220%;
text-align: center;
border-bottom: 1px solid rgb(250, 222, 169);
}
#naslovF{
color: rgba(252, 120, 32, 0.925);
padding-top: 200px;
font-size: 220%;
text-align: center;
border-bottom: 1px solid rgb(250, 222, 169);
}
.image {
    border: 2px solid #fff;
    width: 100%;
    overflow: hidden;
}

.image img {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.image:hover img {
    transform: scale(1.3, 1.3);
    cursor: pointer
}

  #portfolio{
      margin-top: 100px;
      padding: 80px;
  }


  #podaci{
    position: relative;
    text-align: center;
   margin-top: 300px;
  
  }
  .footerKrug{
      width: 45%;
      
  }
  .info{
   font-size: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    color: rgb(250, 231, 215);
    font-family: monospace;
   }
   .info span{
       font-size: 110%;
       padding: 5px;
   }
   .info a{
       color: rgb(255, 211, 173);
       padding-left: 5px;
       font-family: monospace;
     
   }
 
 #contact{
      color: rgb(255, 72, 0);
      text-align: center;
     font-weight: 550;
      font-size: 160%;
     bottom: 10px;
     position: relative;
     font-family: inherit;
  }
  
  .ikonice{
      width: 17px;
      color: white;
      padding: 5px 0;
  }

  .naslov1{
      text-align: center;
      margin-top: 50px;
      color: orange;
  }
 

  
   #top{
      float: right;
      
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      color: rgb(255, 223, 163);
      cursor: pointer;
  }
  #slikaCook{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      padding-bottom: 100px;
      padding-top: 50px;
  }
  #slikaNaslovna{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  
  }
  a:hover{
    text-decoration: none;
  color: gray;
  }
  @media only screen and (max-width: 768px) {
      .info, span{
          font-size: 70%;
      }
      .ikonice{
        width: 10px;
        color: white;
      
    }
    .image1 {
       width: 100%;
      }
    #contact{
        bottom: 5px;
    }
    .footerKrug{
        width: 100%;  
    }
    footer{
        margin-bottom: 130px;
    }
   #portfolio{
       margin-top: -80px;
       padding: 0;
   }
   #about{
    margin-top: 50px;
   }
 

#slikaCook{
    width: 100%;
}
#slikaNaslovna{
    width: 100%;
}

  }
  
