@import url('https://fonts.googleapis.com/css?family=Montserrat');


html, body {


    overflow-x: hidden;
}
#deo{
    
}
#prviDeo{
    background-image: url("7132.jpg");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.krug1{
    width: 30%;
    position: absolute;
    animation: 25s linear infinite krug1;
    transform: translate(0, 0);
}
@keyframes krug1 {
    0% {
        transform: translate(0, 0)
    }

    20% {
        transform: translate(400%, 0)
    }

    40% {
        transform: translate(-200%, 0)
    }

    60% {
        transform: translate(400%, 0)
    }

    80% {
        transform: translate(-200%, 0)
    }

    100% {
        transform: translate(400%, 0)
    }


}
.krug2{
    width: 28%;
    position: absolute;
    margin-top: 200px;
    animation: 30s linear infinite krug2;
    transform: translate(0, 0);
}
@keyframes krug2 {
    0% {
        transform: translate(0, 0)
    }

    20% {
        transform: translate(400%, 0)
    }

    40% {
        transform: translate(-200%, 0)
    }

    60% {
        transform: translate(400%, 0)
    }

    80% {
        transform: translate(-200%, 0)
    }

    100% {
        transform: translate(400%, 0)
    }


}
.krug3{
    width: 20%;
    position: absolute;
    margin-top: 200px;
    animation: 35s linear infinite krug3;
    transform: translate(0, 0);
}
@keyframes krug3 {
    0% {
        transform: translate(0, 0)
    }

    20% {
        transform: translate(500%, 0)
    }

    40% {
        transform: translate(-100%, 0)
    }

    60% {
        transform: translate(500%, 0)
    }

    80% {
        transform: translate(-100%, 0)
    }

    100% {
        transform: translate(500%, 0)
    }


}
.krug4{
    width: 10%;
    position: absolute;
    margin-top: 180px;
    animation: 23s linear infinite krug4;
    transform: translate(0, 0);
}
@keyframes krug4 {
    0% {
        transform: translate(0, 0)
    }

    20% {
        transform: translate(1000%, 0)
    }

    40% {
        transform: translate(-100%, 0)
    }

    60% {
        transform: translate(1000%, 0)
    }

    80% {
        transform: translate(-100%, 0)
    }

    100% {
        transform: translate(1000%, 0)
    }
}
.tekstOmeni{
    color: rgb(247, 120, 70);
    text-align: center;
    margin-top: 250px;
    z-index: 1;
    position: relative;
    font-family: 'Montserrat', sans-serif; 
    font-size: 200%;
}

.nav-link{
cursor: pointer;
color: rgb(200, 80, 0);
font-family: 'Montserrat', sans-serif; 

}


#about{
    margin: 210px auto;
    padding: 20px 20px 20px 20px;
   
}
#naslovInfo{
    color: rgb(252, 177, 107);
    font-family: inherit;
    font-size: 170%;
    font-weight: 500;
    border-bottom: 1px solid rgb(250, 222, 169);
  
}
#naslovInfo2{
    color: rgb(107, 158, 252);
    font-family: inherit;
    font-size: 170%;
    font-weight: 500;
    border-bottom: 1px solid rgb(169, 201, 250);
  
}
h3{
    position: relative;
    margin-top: 230px;
    top: 50px;
    text-align: center;
    font-family: inherit;
    color:rgba(255, 166, 0, 0.822);
   
}
.edukacija, p{
    font-family: inherit;
    color: rgb(245, 188, 118);
   
}
.edukacija, strong{
    color: rgb(219, 107, 2);
   
}



#naslovP{
color: rgba(252, 120, 32, 0.925);
padding-top: 40px;
font-size: 220%;
text-align: center;
border-bottom: 1px solid rgb(250, 222, 169);
}
.image {
    display: block;
    width: 100%;
   
  }
  .image1 {
    display: block;
    padding-top: 5%;
    
   
  }
 
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(255, 255, 255);
  }
  
  #slika1:hover .overlay {
    opacity: 1;
  }
  
  .text a {
    color: orange;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
  }
  #portfolio{
      margin-top: 300px;
      padding: 80px;
  }


  #podaci{
    position: relative;
    text-align: center;
   margin-top: 300px;
  
  }
  .footerKrug{
      width: 45%;
      
  }
  .info{
   font-size: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    color: rgb(250, 231, 215);
    font-family: monospace;
   }
   .info span{
       font-size: 110%;
       padding: 5px;
   }
   .info a{
       color: rgb(255, 211, 173);
       padding-left: 5px;
       font-family: monospace;
     
   }
 
 #contact{
      color: rgb(255, 72, 0);
      text-align: center;
     font-weight: 550;
      font-size: 160%;
     bottom: 10px;
     position: relative;
     font-family: inherit;
  }
  
  .ikonice{
      width: 17px;
      color: white;
      padding: 5px 0;
  }

  .naslov1{
      text-align: center;
      margin-top: 50px;
  }
 
    #vise1, #vise2, #vise3, #vise4{
    border: 2px solid rgb(255, 145, 0);
    padding: 5px 10px;
    border-radius: 100px; 
    color: orange;
  
  }
  .naslov2{
    border: 2px solid rgb(255, 145, 0);
    padding: 5px 10px;
    border-radius: 100px; 
    
  }
  .naslov2:hover{
    background: rgb(255, 145, 0);
    color: white;
    cursor: pointer;
  }
  #vise1:hover{
    background: rgb(255, 145, 0);
    color: white;
    cursor: pointer;
  }
  #vise2:hover{
    background: rgb(255, 145, 0);
    color: white; 
    cursor: pointer;
}
#vise3:hover{
    background: rgb(255, 145, 0);
    color: white; 
    cursor: pointer;
}
  #vise4:hover{
      background: rgb(26, 19, 87);
      color: white;
      cursor: pointer;
  }
 
  #about{
    animation: 2s linear infinite fadeInRightBig;
    transform: translate(0, 0);
    animation-iteration-count: 1;
   
}

  @keyframes fadeInRightBig{
    from {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
      transform: translate3d(2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
    
  }

  @keyframes fadeInLeftBig{
    from {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
      transform: translate3d(-2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInRightBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    
  }
   #top{
      float: right;
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      color: rgb(255, 223, 163);
      cursor: pointer;
  }
  #slikaCook{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      padding-bottom: 100px;
      padding-top: 50px;
  }
  #slikaNaslovna{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  
  }
  a:hover{
    text-decoration: none;
  color: gray;
  }
  @media only screen and (max-width: 768px) {
      .info, span{
          font-size: 70%;
      }
      .ikonice{
        width: 10px;
        color: white;
      
    }
    .image1 {
       width: 100%;
        
       
      }
    #contact{
        bottom: 5px;
    }
    .footerKrug{
        width: 100%;  
    }
    footer{
        margin-bottom: 130px;
    }
   #portfolio{
       margin-top: -80px;
       padding: 0;
   }
   #about{
    margin-top: 50px;
   }
  #top{
    margin-right: 0px;
  }

#slikaCook{
    width: 100%;
}
#slikaNaslovna{
    width: 100%;
}
#prviDeo{
    background-image: url("7132.jpg");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
  }
  